{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
<h1>Product index</h1>



        {% for product in products %}
        <div>
            <h3> {{ product.titre }} </h3>
            <img src="{{asset('images/products/')}}{{ product.img }}" width="150px" alt="">
            <p>{{ product.prix }}</p>
            <a href="{{ path('app_product_show', {'id': product.id}) }}">Voir détails</a>
        </div>

        {% else %}
   
            <p>pas de produits</p>
     
        {% endfor %}


{% endblock %}