{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Resume</th>
                <th>CreatedAt</th>
                <th>Auteur</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.titre }}</td>
                <td>{{ article.resume }}</td>
                <td>{{ article.createdAt ? article.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{ article.user }}</td>
                <td>
                    {% if article.image %}
                    <img src="{{ asset('images/articles/')}}{{ article.image }}" alt="" width="200">
                    {% else %}
                    <img src="https://t4.ftcdn.net/jpg/04/73/25/49/360_F_473254957_bxG9yf4ly7OBO5I0O5KABlN930GwaMQz.jpg" alt="" width="200">
                        
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_article_show', {'id': article.id}) }}">show</a>

                    {% if app.user and article.user == app.user %}
                        <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
                    {% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="ertfrezazergrezaertsergre">
        {{ knp_pagination_render(articles) }}
    </div>

    <a href="{{ path('app_article_new') }}">Create new</a>
{% endblock %}
